<ul class="{{ class | default: 'flex gap-6' }}" style="{{ style | default: '' }}">
  {% for link in linklists.main-menu.links %}
    <li>
      <a href="{{ link.url }}" class="font-medium">
        {{ link.title | escape }}
      </a>

      {% if link.levels >= 1 %}
        <div>
          {% for sub_link in link.links %}
            <a href="{{ sub_link.url }}">
              {{ sub_link.title | escape }}
            </a>
          {% endfor %}
        </div>
      {% endif %}
    </li>
  {% endfor %}
</ul>
